@font-face {
    font-family: Beckman;
    src: url(fonts/beckman.otf);
}
@font-face {
    font-family: Geist;
    src: url(fonts/Geist-Thin.ttf);
}
@font-face {
    font-family: Cinzel;
    src: url(fonts/Cinzel.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}

/* Header */

body p{
    font-family: Geist, Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: black;
}

header nav ul{
    display: flex;
    vertical-align: middle;
}

header #logo img{
    width: 70px;
    display: flex;
    justify-content: left;
}

header a{
    vertical-align: middle;
    color: white;
}

header li{
    color: white;
    padding:20px 15px;
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

header li:hover{
    font-weight: 600;
    transition: 0.2s;
}

/* Main */

main{
    background-color: black;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
section{
    padding:10px 50px;
}

section article{
    width: 400px;
}   
section p{
    text-align: center;
    color: white;
}
section article h3{
    color: white;
    font-family: Cinzel,Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 100;
}
#gael{
    margin-bottom: 200px;
}
#gael h1{
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    font-size: 4.5em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 200px;
    padding: 200px 0px 100px 0px;
}
/* #skills article{
    width: 500px;
}
#skills i{
    color: white;
} */

h2{
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
}

/* Projets */

#ex_projets{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 150px;
}

article p{
    text-align: center;
    color: white;
    font-family: Geist;
    overflow-wrap: normal;

}
.ligne{
    display: flex;
    flex-direction: row;
    width: 1500px;
    justify-content: space-evenly;
}
section .test{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

 #ex_projets article:hover{
    transition: 500ms;
}
.test a{
    text-align: center;
}
article .img{
    height: 300px;
    border-radius: 10px;
}
/* article .hide{
    display: none;
}
#ex_projets article:hover > .hide{
    display: block;
    animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/*Footer*/

footer{
    background-color: black;
    padding:0 30px;
}
footer i{
    font-size: 1.2em;
    color: white;
    padding-left: 10px;
}

footer #foot{
    padding: 10px ;
    display: flex;
    justify-content: space-between;
}
footer h4{
    margin: 0;
    font-family: Geist, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: white;
}

@media screen and (max-width:768px){
    
}
